@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");
@font-face {
  font-family: "hongkong";
  src: url(../fonts/hongkong.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: whitesmoke;
  font-family: "Agdasima", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "hongkong";
  font-size: 2em;
}

p {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1em;
}

ul {
  list-style-type: none;
}

.main__img {
  border-radius: 30px;
  max-width: 300px;
  border: 1px solid black;
}

.contacts__menu-img {
  width: 130px;
}

code {
  display: block;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
}

ul > li {
  /* list-style-type: square; */
  font-size: 1.5em;
}

.contacts__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}

body > * {
  width: 80%;
  margin: 0 auto;
}

.main__content-about-me {
  background: rgb(211, 211, 211, 0.8);
  border-radius: 50px 0 50px 0;
  padding: 1%;
  margin: 3% 0;
}

.contacts__menu-el:hover {
  background-color: lightblue;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn-container:hover {
  background-color: lightcoral;
}
.btn-container {
  width: 10%;
  height: 10%;
  padding: 10px;
  background-color: lightblue;
  border-radius: 10px;
  font-size: 1.2em;
  margin: 30px;
  text-align: center;
}

.nav_bar-menu {
  display: flex;
  gap: 5%;
  font-size: 1.5em;
}

.footer {
  padding: 10px;
  margin: 20px auto;
}

.footer__img {
  max-width: 300px;
  margin: 0 50px 0 0;
}

.footer img:hover {
  background-color: lightblue;
  border-radius: 10px;
}
